@model PagedList.IPagedList<BanDongHo.Models.EF.Product>
@using PagedList.Mvc;
@using System.Globalization
@{
    ViewBag.Title = "Danh Sách Sản Phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Trang Chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/products" class="nav-link">@ViewBag.Title</a>
        </li>
    </ul>
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản Lý Sản Phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin/home">Home</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewBag.Title</h3>

            <div class="card-tools">
                <a href="/admin/products/add" class="btn btn-primary">Thêm Mới</a>
                <a href="#" class="btn btn-danger" id="BtnDeleteAll">Xóa All</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="card-tools">
                    @using (Html.BeginForm("Index", "Products", FormMethod.Get, new { }))
                    {
                        <div class="input-group input-group-sm">
                            @Html.TextBox("Searchtext", null, new { @class = "form-control", @placeholder = "Nhập tên sản phẩm" })
                            <span class="input-group-append">
                                <button type="submit" class="btn btn-info btn-flat">Tìm Kiếm</button>
                            </span>
                        </div>
                    }
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                <th><input type="checkbox" id="SelectAll" /></th>
                <th>STT</th>
                <th>Hình Ảnh</th>
                <th>Tên Sản Phẩm</th>
                <th>Phân Loại</th>
                <th>Số Lượng</th>
                <th>Giá</th>
                <th>Ngày Tạo</th>
                <th>Home</th>
                <th>Sale</th>
                <th>Hiển Thị</th>
                <th>Thao tác</th>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;
                        foreach (var item in Model)
                        {
                            var strCheck = item.IsActive ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                            var strCheckHome = item.IsHome ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                            var strCheckSale = item.IsSale ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                            <tr id="trow_@item.Id">
                                <td><input type="checkbox" class="cbkItem" value="@item.Id" /></td>
                                <td>@i</td>
                                <td><img class="imgproduct" data-id="@item.Id" src="@item.ProductImages.FirstOrDefault(x=>x.IsDefault).Image" width="50" /></td>
                                <td>@item.Title</td>
                                <td>@item.ProductCategory.Title</td>
                                <td><a style="margin:25px;">@item.Quantity</a></td>
                                <td>@BanDongHo.Common.Common.FormatNumber(item.Price, 0) đ</td>
                                <td>@item.CreateDate.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <a href='#' data-id="@item.Id" class="btnHome" style="margin:20px;">@Html.Raw(strCheckHome)</a>
                                </td>
                                <td>
                                    <a href='#' data-id="@item.Id" class="btnSale" style="margin:20px;">@Html.Raw(strCheckSale)</a>
                                </td>
                                <td>
                                    <a href='#' data-id="@item.Id" class="btnActive" style="margin:20px;">@Html.Raw(strCheck)</a>
                                </td>
                                <td>
                                    <a href="/admin/products/edit/@item.Id" class="btn btn-sm btn btn-primary">Sửa</a>
                                    <a href="#" data-id="@item.Id" class="btn btn-sm btn-danger btnDelete">Xóa</a>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="8">Không Có Bản Ghi Nào</td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="row">
                <div class="col-6"></div>
                <div class="col-6" style="text-align:right;">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
<div id="dialog">
    <iframe id="myIframe" style="border: 0; width: 100%; height: 100%;"></iframe>
</div>
@section scripts{
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $('body').on('click', '#BtnDeleteAll', function (e) {
                e.preventDefault();
                var str = "";
                var checkbox = $(this).parents('.card').find('tr td input:checkbox');
                var i = 0;
                checkbox.each(function () {
                    if (this.checked) {
                        checkbox.attr('selected', 'checked');
                        var _id = $(this).val();
                        if (i == 0) {
                            str += _id;
                        } else {
                            str += "," + _id;
                        }
                        i++;
                    } else {
                        checkbox.attr('selected', '');
                    }
                });
                if (str.length > 0) {
                    var conf = confirm('Bạn có muốn xóa các bản ghi này hay không?');
                    if (conf === true) {
                        $.ajax({
                            url: '/admin/products/deleteAll',
                            type: 'POST',
                            data: { ids: str },
                            success: function (rs) {
                                if (rs.success) {
                                    location.reload();
                                }
                            }
                        });
                    }
                }
            });

            $('body').on('change', '#SelectAll', function () {
                var checkStatus = this.checked;
                var checkbox = $(this).parents('.card-body').find('tr td input:checkbox');
                checkbox.each(function () {
                    this.checked = checkStatus;
                    if (this.checked) {
                        checkbox.attr('selected', 'checked');
                    } else {
                        checkbox.attr('selected', '');
                    }
                });
            });
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data("id");
                var conf = confirm('Bạn Có Muốn Xóa Bản Ghi Này ?');
                if (conf == true) {
                    $.ajax({
                        url: '/admin/Products/delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                            }
                        }
                    });
                }
            });

            $('body').on('click', '.btnActive', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data("id");
                var conf = confirm('Bạn Có Muốn Chỉnh Sửa Trạng Thái Này ?');
                if (conf == true) {
                    $.ajax({
                        url: '/admin/products/IsActive',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                if (rs.IsActive) {
                                    btn.html("<i class='fa fa-check text-success'></i>");
                                }
                                else {
                                    btn.html("<i class='fas fa-times text-danger'></i>");
                                }
                            }

                        }
                    });
                }

            });

            $('body').on('click', '.btnHome', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data("id");
                var conf = confirm('Bạn Có Muốn Chỉnh Sửa Trạng Thái Này ?');
                if (conf == true) {
                    $.ajax({
                        url: '/admin/products/IsHome',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                if (rs.IsHome) {
                                    btn.html("<i class='fa fa-check text-success'></i>");
                                }
                                else {
                                    btn.html("<i class='fas fa-times text-danger'></i>");
                                }
                            }

                        }
                    });
                }

            });

            $('body').on('click', '.btnSale', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data("id");
                var conf = confirm('Bạn Có Muốn Chỉnh Sửa Trạng Thái Này ?');
                if (conf == true) {
                    $.ajax({
                        url: '/admin/products/IsSale',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                if (rs.IsSale) {
                                    btn.html("<i class='fa fa-check text-success'></i>");
                                }
                                else {
                                    btn.html("<i class='fas fa-times text-danger'></i>");
                                }
                            }

                        }
                    });
                }

            });
        });
    </script>
}

